{% extends "base.html" %} 

{% block title %}
      <title>nChan - Posts</title>
    {% endblock %}

{% block content %} 

<h1>List of Posts...</h1>
    <br/>
    <form action="/posts" METHOD="POST">
    <input type="text" placeholder="Name" name="name">
    <input type="submit" value="Add Name" class="btn btn-secondary">
    </form>

    <br/>

    {% for chan in chans %} 
    <h4> {{chan.name}} 
        <a href="/update/{{chan.id}}" class="btn btn-secondary btn-sm">Edit</a>
        <a href="/delete/{{chan.id}}" class="btn btn-danger btn-sm">Delete</a>

    </h4>
    {% endfor %} 



{% endblock %} 